{{#extends 'settings'}}

    {{#block "profileContent"}}
        <div class="row mt-4">
            <div class="card mt-4 admin-regis-form" style="width: 50rem;">
                <div class="card-body">
                    {{{changePasswordForm}}}
                </div>
                {{!-- submit button --}}
                <div class="row mb-4">
                    <div class="col ms-3 me-3">
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-secondary" type="submit">Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/block}}

{{/extends}}