{{#extends 'base'}}

    {{#block "content"}}
        <div class="row mt-4">
            {{!-- Nav tap --}}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">My Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Change Password</button>
                </li>
            </ul>
            {{!-- content --}}
            <div class="tab-content" id="myTabContent">
                {{!-- My Profile --}}
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row mt-4">
                        <div class="card mt-4 admin-regis-form" style="width: 50rem;">
                            <div class="card-body">
                                {{{adminProfileForm}}}
                            </div>
                            {{!-- update button --}}
                            <div class="row mb-4">
                                <div class="col ms-3 me-3">
                                    <div class="d-grid gap-2 mt-3">
                                        <button class="btn btn-secondary" type="submit">Update Profile</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- Change Password --}}
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row mt-4">
                        <div class="card mt-4 admin-regis-form" style="width: 50rem;">
                            <div class="card-body">
                                {{{changePasswordForm}}}
                            </div>
                            {{!-- submit button --}}
                            <div class="row mb-4">
                                <div class="col ms-3 me-3">
                                    <div class="d-grid gap-2 mt-3">
                                        <button class="btn btn-secondary" type="submit">Change Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {{/block}}

{{/extends}}