# default
.github/
.vscode

# location where the installed NodeJS packages are saved
node_modules/

# use of session for NodeJS Express
sessions/

# Store environment variables for use with the application running locally
.env
