
/* Global style */
.vertical-line {
    border-right: solid #dddbdb;
    margin-bottom: 20px;
}

/* login Page */

/* .bg-img {
    background-image: url("/images/background/gg-background.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
} */


.login-row {
    margin-top: 250px;
}

.login-card {
    background-color: #f7f7f7;
}

.login-logo {
    margin-top: 25px;
}

.login-body {
    margin-right: 30px;
    margin-left: 10px;
}

.admin {
    font-weight: bold;
}

/* Navbar */

.logo {
    background-image: url("/images/logo/lp-gold-circle.jpg");
    height: 70px;
    width: 70px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
}

.text-logo {
    background-image: url("/images/logo/text-lp-logo.jpg");
    height: 60px;
    width: 280px;
    background-size: cover;
    background-position: center;
    margin-right: 950px;
    /* margin-left: -20px; */
}

/* Dashboard page */

.sum-dashboard {
    padding-left: 200px;
}

/* Users page  */

.admin-regis-form {
    margin-left: 150px;
}