
/* Global style */

.vertical-line {
    border-right: solid #dddbdb;
    margin-bottom: 20px;
}

.white-font {
    color: whitesmoke;
}

.white-font:hover {
    color: whitesmoke;
    /* font-weight: bold; */
}

a {
    text-decoration: none !important;
}

.nav-choice:hover {
    color: rgb(70, 69, 69);
}

.nav-choice:active {
    color: rgb(70, 69, 69);
}

/* login Page */

#body {
    height: 100vh;
}

.bg-img {
    background-image: url("/images/background/gg-background.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}


.login-row {
    padding-top: 250px;
}

.login-card {
    background-color: #f7f7f7;
}

.login-logo {
    margin-top: 25px;
}

.login-body {
    margin-right: 30px;
    margin-left: 10px;
}

.admin {
    font-weight: bold;
}

/* Navbar */

.logo {
    background-image: url("/images/logo/lp-gold-circle.jpg");
    height: 70px;
    width: 70px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
}

.text-logo {
    background-image: url("/images/logo/text-lp-logo.jpg");
    height: 60px;
    width: 280px;
    background-size: cover;
    background-position: center;
    margin-right: 950px;
    /* margin-left: -20px; */
}

/* side Navbar */

.col-bg {
    background-color: rgb(52, 52, 63);
    /* background-color: rgb(77, 75, 75); */
    /* background-color: rgb(37, 37, 46); */
}

.col-hover:hover {
    background-color: rgb(75, 73, 73);
}


/* Dashboard page */

.sum-dashboard {
    padding-left: 200px;
}

.total-card-bg {
    /* background-color: rgb(245, 236, 224); */
    background-color: rgb(240, 240, 226);
}

.card-bg {
    background-color: rgb(241, 239, 239);
}

.sum-card-bg {
    background-color: rgb(240, 243, 247);
}

/* order page */

.search-div {
    margin-bottom: -35px;
    margin-top: -10px;
}

/* Users page  */

.admin-regis-form {
    margin-left: 150px;
}