<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- custom CSS -->
        <link rel="stylesheet" href="/css/custom.css" />

        <title>Luxury Pre-owned, sustainable Luxury</title>
    </head>
    <body id="body">
        <div class="bg-img">
            <div class="container-fluid"> 
                <div class="row login-row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="card mb-3 login-card" style="width: 40rem;">   {{!-- max-width: 540px; --}}
                            <div class="row">
                                <div class="col-md-5 login-logo vertical-line">
                                    <img src="/images/logo/curve-lp-logo.jpg" class="img-fluid rounded-start" alt="logo">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body login-body">
                                        <h5 class="card-title text-center">Admin Login</h5>
                                        {{#if error_messages}}
                                            {{#each error_messages}}
                                                <div class="alert alert-danger">
                                                    {{this}}
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                        <div class="mt-4">
                                            <form method="POST">
                                                <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                                                
                                                {{{adminLoginForm}}}

                                                <div class="mt-4">
                                                    <div class="d-grid gap-2">
                                                        <input class="btn btn-secondary" type="submit" value="LOGIN" />
                                                    </div>
                                                </div>
                                                <p class="text-center mt-4">
                                                    Reset Password
                                                </p>

                                            </form>
                                        </div>
                                        {{!-- <div class="mt-4">
                                            <input class="form-control" type="text" placeholder="Username" aria-label="default input example">
                                        </div>
                                        <div class="mt-4">
                                            <input class="form-control" type="text" placeholder="Password" aria-label="default input example">
                                        </div> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>  
            </div>
        </div>
        
   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {{#block "js"}}{{/block}}
    
    </body>
</html>