{{#extends 'base'}}

    {{#block "content"}}

        <div class="row mt-4">
            <div class="col">
                <div class="card total-card-bg service-card" style="width: 32rem;">
                    <div class="card-body text-center service-text">
                        <h4 class="card-subtitle mb-2 text-muted">There is currently no service record yet</h4>
                    </div>
                </div>
            </div>
        </div>
    {{/block}}

{{/extends}}