{{#extends 'base'}}

    {{#block "content"}}
        <div class="row mt-3">
            <div class="col">
                <h4>Abandoned cart</h4>
            </div>
        </div>
        {{!-- Table --}}
        {{!-- header --}}
        <table class="mt-4 table table-hover">
            <thead>
                <tr>
                    <th scope="col">Order#</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Method</th>
                    <th scope="col">Emails Sent</th>
                    <th scope="col">Date Last Sent</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            {{!-- content --}}
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Email</td>
                    <td>2</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary">Send Abandoned Email</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Email</td>
                    <td>2</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary">Send Abandoned Email</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Email</td>
                    <td>0</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary">Send Abandoned Email</button>
                    </td>
                </tr>

            </tbody>
        </table>
        {{!-- Update button --}}
        <div class="row mt-3">
            {{!-- <div class="col-1">
            </div> 
            <div class="col">
                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-outline-secondary" type="submit">Update</button>
                </div>
            </div>
            <div class="col-1">
            </div>  --}}
        </div>
   
    {{/block}}

{{/extends}}