{{#extends 'base'}}

    {{#block "content"}}
        <div class="row mt-4">
            {{!-- Nav tap --}}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Admin</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Customer</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Add New Admin</button>
                </li>
            </ul>
            {{!-- content --}}
            <div class="tab-content" id="myTabContent">
                {{!-- admin --}}
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {{!-- Table --}}
                    <table class="mt-4 table table-hover">
                        {{!-- header --}}
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Email</th>
                                <th scope="col">Username</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        {{!-- content --}}
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-outline-secondary">Edit</button>
                                    <button type="button" class="btn btn-outline-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-outline-secondary">Edit</button>
                                    <button type="button" class="btn btn-outline-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-outline-secondary">Edit</button>
                                    <button type="button" class="btn btn-outline-danger">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {{!-- Update button --}}
                    <div class="row mt-3">
                        <div class="col-1">
                        </div> 
                        <div class="col">
                            <div class="d-grid gap-2 mt-3">
                                <button class="btn btn-outline-secondary" type="submit">Update</button>
                            </div>
                        </div>
                        <div class="col-1">
                        </div> 
                    </div>
                </div>
                {{!-- user --}}
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    {{!-- Table --}}
                    <table class="mt-4 table table-hover">
                        {{!-- header --}}
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Email</th>
                                <th scope="col">Federated Login</th>
                                <th scope="col">Username</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Billing Address</th>
                                <th scope="col">Shipping Address</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        {{!-- content --}}
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>True</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-outline-secondary">Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>True</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-outline-secondary">Edit</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>False</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-outline-secondary">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {{!-- Update button --}}
                    <div class="row mt-3">
                        <div class="col-1">
                        </div> 
                        <div class="col">
                            <div class="d-grid gap-2 mt-3">
                                <button class="btn btn-outline-secondary" type="submit">Update</button>
                            </div>
                        </div>
                        <div class="col-1">
                        </div> 
                    </div>
                </div>
                {{!-- add new admin --}}
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row mt-4">
                        <h5>Register New Admin Account</h5>
                    </div>
                    <div class="row">
                        <div class="card mt-4 admin-regis-form" style="width: 50rem;">
                            {{!-- register form --}}
                            <div class="card-body">
                                <form method="POST">
                                    {{{adminSignUpForm}}}
                                </form>
                            </div>
                            {{!-- Register button --}}
                            <div class="row mb-4">
                                <div class="col ms-3 me-3">
                                    <div class="d-grid gap-2 mt-3">
                                        <button class="btn btn-secondary" type="submit">Register Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    {{/block}}

{{/extends}}