{{#extends 'users'}}

    {{#block "userContent"}}
        <div class="row mt-1">

            {{!-- add new admin --}}
            <div class="row mt-4">
                <h5>Register New Admin Account</h5>
            </div>
            <div class="row">
                <div class="card mt-4 admin-regis-form" style="width: 50rem;">
                    {{!-- register form --}}
                    <div class="card-body">
                        <form method="POST">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                            {{{adminSignUpForm}}}
                            {{!-- Register button --}}
                            <div class="row mb-4">
                                <div class="col ms-3 me-3">
                                    <div class="d-grid gap-2 mt-3">
                                        <input class="btn btn-secondary" type="submit" value="Register Now" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
    {{/block}}

{{/extends}}