{{#extends 'base'}}

    {{#block "content"}}
        <div class="row mt-3">
            <div class="col-1">
                <h4>Product</h4>
            </div>
            <div class="col-11">
                <button type="button" class="btn btn-outline-secondary">+ Add New</button>
            </div>
        </div>
        {{!-- search & filter --}}
        <div class="row mt-4">
            <div class="col">
                <div class="container-fluid">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="col">
                <form class="d-flex">
                    <select id="product-filter" name="product-filter" class="me-2">
                        <option value=""> ------------------- </option>
                        <option value="product-name">Product Name</option>
                        <option value="product-category">Product Category</option>
                        <option value="date">Date</option>
                        <option value="stock-status">Stock status</option>
                    </select>
                    <button class="btn btn-outline-success" type="submit">Filter</button>
                </form>
            </div> 
        </div>
        
        {{!-- header --}}
        <div>
            {{!-- <div class="row mt-3">
                <div class="col">Order#</div>
                <div class="col">Image</div>
                <div class="col">Name</div>
                <div class="col">Stock</div>
                <div class="col">Price</div>
                <div class="col">Designer</div>
                <div class="col">Category</div>
                <div class="col">Date</div>
                <div class="col">Action</div>
                <div class="col"></div>
            </div> --}}
        </div>
        <table class="mt-4 table table-hover">
            <thead>
                <tr>
                    <th scope="col">Order#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Designer</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            {{!-- content --}}
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary">Edit</button>
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary">Edit</button>
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary">Edit</button>
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>

        
        
    {{/block}}

{{/extends}}