{{#extends 'products'}}

    {{#block "searchSectionContent"}}
    
        <div class="row search-div">
            <div class="col-1"></div>
            <div class="col-3"></div>
            {{!-- search input --}}
            <div class="col-4">
                <div class="container-fluid">
                    <form class="d-flex mb-3">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
            {{!-- filter --}}
            <div class="col-4">
                <form class="d-flex mb-3">
                    <select id="product-filter" name="product-filter" class="me-2">
                        <option value=""> ------------------- </option>
                        <option value="product-name">Product Name</option>
                        <option value="product-category">Product Category</option>
                        <option value="date">Date</option>
                        <option value="stock-status">Stock status</option>
                    </select>
                    <button class="btn btn-outline-success" type="submit">Filter</button>
                </form>
            </div> 
        </div>
        
    {{/block}}

{{/extends}}